@font-face {
    font-family: Graphik-re;
    src: url(fonts/Graphik-Light.otf);
}
@font-face {
    font-family: Graphik-Regular;
    src: url(fonts/Graphik-Regular.otf);
}

body { 
    font-family: graphik-Regular;
}

header {
    margin: 3%;
    display: flex;
    align-items: start;
}

.nav {
    -webkit-margin-before: 0.83em;
    font-size: 2em;
    /* position: fixed;*/
    position: relative;
    padding-left: 1.25em;
    float: right;
    width: 30%;
}
.nav:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0.25em;
    width: 1em;
    height: 0.05em;
    background: black;
    box-shadow: 
        0 0.70em 0 0 black,
        0 0.35em 0 0 black;
}

article {
    width: 100%;
    padding: 10% 0;
}

aside {
    flex: 1 auto;
}

section {
    width: 60%;
    font-size: 15pt;
    max-width: 1000px;
}

section.large { width: 85%; }
section.small { width: 45%; }
section img { width: 100%; }
section.left { margin: 0 0 0 6.25%; }
section.right { float: right; margin: 0 6.25% 0 0; }
section.center { margin: 0 auto; }

section a {
    color: blue;
    border-bottom: 2px solid blue;
    text-decoration: none;
}

footer {
    text-align: center;
}

.v a { color: #d0d0d0; text-decoration: none; }
.vleft {
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: fixed;
    top: 50%;
    left: -5px;
    margin-top: 0;
}

.vright {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: fixed;
    top: 50%;
    right: -5px;
    margin-top: 0px;
}

.fruit-label {
    position: relative;
    z-index: 9999;
}
.one { left: 50%; top: -40px; width: 90px; }
.two { left: 30%; top: 150px; width: 100px;  }
.three { left: 80%; width: 120px; }
.four { left: 10%; top: 50px; width: 150px;  }
.five { left: 85%; top: 100px; width: 100px; }
.six { left: 15%; top: 50px; width: 150px; }
.seven { left: 65%; top: 150px; width: 100px;  }

.fruit-label img { 
    width: 100%;
}

p {
    text-align: center;
}

.page p {
   width: 50%;
    margin: 0 auto;
    padding: 4% 0;
    font: 1.5em/1.5em Graphik-Regular;
}
.foot p {
     width: 65%;
    margin: 0 auto;
    padding: 4% 0 0 0;
    font: 1.5em/1.5em Graphik-Regular;  
    
}
.page h1 {
    font: 1.5em/1.5em Graphik-Regular;
}

h1 {
    line-height: 1.5em;
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

.grid-wrap{
  display: -ms-flexbox;    
  display: -webkit-box;    
  display: -webkit-flexbox; 
  display: -webkit-flex;

}    

.grid-wrap.vertical { margin: -20px auto 0 auto;   display: flex;  }
.grid-wrap > * { margin: 0 0 0 20px; }
.grid-wrap.vertical > * { margin: 20px 0 -20px -20px; }

.vertical{
      -webkit-box-orient: vertical;    
         -moz-box-orient: vertical;    
              box-orient: vertical;    
  -webkit-flex-direction: column;
     -moz-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;      
}

.grid-item{
  flex: auto;
  min-height: 100px;
}


.grid-item img {
    width: 100%;
}

a { color: #222; }
a.img-a { border: 0; cursor: pointer; }


		img {
			display: block;
			border: 0;
			opacity: 0;
			transition: opacity 1s;
		}
		img.loaded,
		img.error {
			opacity: 1;
		}
		img:not([src]) {
			visibility: hidden;
		}

.fruit-label img {
    opacity: 1;  
}