body { margin: 0; }

#letters {
    font: 24px FoundersGroteskText-Medium;
    padding: 10px;
    width: 100vw;
    position: absolute;
    bottom: 0;
}   
text {
    font: 24px FoundersGroteskText-Medium;
    font-size: 2em;
    letter-spacing: 1;
}

input {
    display:none;
}
path {

    fill: none;
}
svg {
  /* position: fixed;
  height: 100%;
  left: 50%;
  margin-left: -88.888%; */
  height: 100%;
    left: 0;
    width: 100%;
    margin-left: 0;

}
/* @media (min-aspect-ratio: 16/9) {
  svg {
    height: 100%;
    left: 0;
    width: 100%;
    margin-left: 0;
    top: 50%;
    margin-top: -28.125%; 
  } */
@media screen and (max-width: 600px) {
    svg {
    height: 100vh;
    width: 100vw;
    top: 50%;
    }
}

span {
  font-family: Times;
  -webkit-font-smoothing: antialiased;
    display: inline-block;
 -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
     -ms-transform: skewX(-30deg);
      -o-transform: skewX(-30deg);
         transform: skewX(-30deg);
padding: 1em;
}